.main
  .upper
  .lower
    - @posts.reverse.each do |post|
      =link_to post_path(post.id), class: "contents" do
        = image_tag post.image, alt:"写真", class:"contents__image"
        .contents__info
          %apan.contents__info__title
            =post.title
          %apan.contents__info__name
            = icon('fas', 'user',  class: "")
            = post.user.nickname
  .pagination
    = paginate(@posts)