.postcontainer{
  text-align: center;
  background: #ecfaf7;
  height: calc(100vh - 72px);
  &__text{
      text-align: center;
      font-weight: normal;
      font-size: 20px;
      color: #666;
      letter-spacing: 0.15em;
      padding: 50px;
    }

  &--btn{
      @include header--btn();
      &:hover{
        @include header--btn__hover();
      }
    }
}