.mypage-container{
  background:rgb(236, 250, 247);
  padding: 20px 0 202px 0;
  min-height: calc(100vh - 294px);
  .contents-posts{
    background-color:rgb(236, 250, 247);
    width: 660px;
    margin: 0 auto;
    &__name{
      margin-top: 20px;
      &__link{
        text-decoration: none;
        &__info{
          &__title{
            color:gray;
          }
        }
        &__image{
          margin-top: 30px;
          height: 400px;
          width: 100%;
          object-fit: cover;
          border-radius: 3px;
          box-shadow: 0 0 10px rgba(41,41,41,0.2);
          &:hover {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
            transform: translateY(-0.1875em);
          }
          }
      }
    }
  }
}

.mypage-paginate{
  padding-top: 20px;
  color: #3ad6b2;
  a {
    color: #3ad6b2;
  }
}