.main{
  background: #E5F8F3;
  height: 3000px;
  padding-top: 83px;
  .upper{
    height: 400px;
    background: white;
  }
  .lower{
    padding:50px 0;
    .contents{
      float: left;
      margin: 30px;
      background: white;
      height: 286px;
      width: 286px;
      box-shadow: 0 0 10px rgba(41,41,41,0.2);
      &__image{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}


