@media screen and (max-width: 1130px) {
  // .main .lower .contents__content {
  //     margin: 20px;
  //   }
  //   .header__bar {
  //     padding: 0 50px;
  // }

  .main .lower .contents__content {
    height: 250px;
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .header__bar {
    padding: 0;
  }

  .header__bar__title__link {
    font-size: small;
  }

  .header__bar--btn__login {
    padding: 0;
    font-size: small;
  }

  .header__bar--btn__name {
    padding-right: 0;
  }

  .maincontents,
  .mypage-container .contents-posts {
    width: 440px;
  }

  .maincontents__image,
  .mypage-container .contents-posts__name__link__image {
    height: 264px;
  }

  #img-field {
    width: 350px;
    height: 210px;
    margin: 0 auto;
  }
  .container .form {
    width: 400px;
}

}

@media screen and (max-width: 425px) {
  .maincontents,
  .mypage-container .contents-posts {
    width: 300px;
  }

  .maincontents__image,
  .mypage-container .contents-posts__name__link__image {
    height: 180px;
  }

  .header__bar__title {
    line-height: 1;
  }

  .grid-6 a {
    font-size: 13px;
  }

  .header__bar--btn__name {
    display: block;
    line-height: 1.5;
  }

  .grid-6 a {
    font-size: 11px;
  }

  #img-field {
    width: 250px;
    height: 150px;
    margin: 0 auto;
  }

  .container .form {
    width: 300px;
  }

  .field-icon__text {
    display: none;
  }

  .field-icon__image {
    line-height: 170px;
  }
}
